body {
    font-family: 'Roboto', sans-serif;
}
.btn:focus {
    outline: none;
    background-color: inherit;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle span:focus {
    outline: none !important;
    background-color: inherit !important;
}

.swal2-container {
    z-index: 1080;
}

:focus,
.btn:focus {
    outline: none !important;
}

:active,
.btn.active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}



.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.active.focus {
    outline: none     ! important;;
    outline-style: none     ! important;;
}

label {
    font-weight: 200;
}



.wizard > .content > .body {
    width: 100%;
    height: 100%;
    padding:0px;
}

.wizard > .steps .number {
    font-size: inherit;
    display:none;
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary {
    background-color: white;
    /* border-color: #007bff; */
    border-color: #337ab7;
    color: #337ab7;
    margin-left: 0.2em !important;
    margin-right: 0.2em;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btn-primary:hover, .btn-primary.active, .btn-primary.focus {
    border-color: #337ab7;
    color: white;
    background-color:#337ab7;
}

#bootstrap-duallistbox-nonselected-list_ option, #bootstrap-duallistbox-selected-list_ option {
    padding: 10px;
    border-bottom-style: dotted;
    border-width: 0.1px;
    border-color: lightgrey;
    cursor:pointer;
}


.stylish-checkbox {
  padding-left: 35px;
}
input[type="checkbox"]{
  display: none !important;
}

label {
  position: relative;
}

/* Base styles for spans */
span::before,
span::after {
  font-size:1.3em;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Check-boxes */
span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: -3px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}

/* #wizard{
    margin-bottom: 5em;
} */

.wizard > .steps > ul > li {
    width:33.333%;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0em 0em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wizard > .steps {
    font-size:14px;
}

.step-number{
    font-weight:600;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: white;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #24292e;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: #fafbfc;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: rgb(198,203,209);
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: white;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #24292e;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #fafbfc;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #586069;
}

.step-icon {
    margin-right:5px;
}

.wizard > .steps .current a .step-icon, .wizard > .steps .current a .step-icon:hover, .wizard > .steps .current a .step-icon:active {
    color:#007bff;
}

.wizard > .steps .done a .step-icon, .wizard > .steps .done a .step-icon:hover, .wizard > .steps .done a .step-icon:active {
    color:green;
}


.wizard > .actions {
    position: fixed;
    display: block;
    text-align: center;
    bottom:0px;
    left:0px;
    /* width: 89%; */
    z-index:999999999;
    background-color: #fafbfc;
    border-top: solid 1px rgb(223,226,229);
    padding: 10px 0px;
    width: 100vw;
    /* margin-left:-70px; */
    margin-left: calc(-50vw + 50%); 
    /* border: 2px solid green; */
}

.actions a[href="#previous"] {
    display:none;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    border-color: #007bff;
    color: white;
    background-color:#007bff;
    /* padding:0.35em 70px;; */
    min-width:30vw;
    text-align: center;

}

.multi-wrapper .item:hover {
    text-decoration: none;
}

.multi-wrapper .non-selected-wrapper, .multi-wrapper .selected-wrapper {
    /* height:80vw; */
    height:400px;
    /* height:auto; */
}

.multi-wrapper{
    border: solid 1px rgb(223,226,229);
}

.search-input {
    border:none !important;
    border-bottom: 1px solid  rgb(223,226,229) !important;
}

input[type="text"], input[type="email"] {
  background: transparent;
  border: solid 1px rgb(223,226,229) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

span.checkbox::before {
    border:1px solid #007bff;
}

span.checkbox:hover::before {
    border:2px solid #007bff;
}

.wizard > .actions > ul > li {
    margin:0;
}

.results {
    overflow: hidden;
    max-width:300px;
    margin:0 auto;

}

.wizard > .content {
    /* overflow-y: auto; */
    background-color:white;
    margin:0;
    margin-bottom:5em;
}