html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(239,239,233);
}

body {
    padding-top: 30px !important;
}

.starter-template {
    padding: 40px 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}



body {
    font-family: 'Roboto', sans-serif;
}
.btn:focus {
    outline: none;
    background-color: inherit;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle span:focus {
    outline: none !important;
    background-color: inherit !important;
}

.swal2-container {
    z-index: 1080;
}

:focus,
.btn:focus {
    outline: none !important;
}

:active,
.btn.active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}



.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.active.focus {
    outline: none     ! important;;
    outline-style: none     ! important;;
}

label {
    font-weight: 200;
}



.wizard > .content > .body {
    width: 100%;
    height: 100%;
    padding:0px;
}

.wizard > .steps .number {
    font-size: inherit;
    display:none;
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary {
    background-color: white;
    /* border-color: #007bff; */
    border-color: #337ab7;
    color: #337ab7;
    margin-left: 0.2em !important;
    margin-right: 0.2em;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btn-primary:hover, .btn-primary.active, .btn-primary.focus {
    border-color: #337ab7;
    color: white;
    background-color:#337ab7;
}

#bootstrap-duallistbox-nonselected-list_ option, #bootstrap-duallistbox-selected-list_ option {
    padding: 10px;
    border-bottom-style: dotted;
    border-width: 0.1px;
    border-color: lightgrey;
    cursor:pointer;
}


/* .stylish-checkbox {
  padding-left: 35px;
} */
input[type="checkbox"]{
  display: none !important;
}

label {
  position: relative;
}

/* Base styles for spans */
span::before,
span::after {
  font-size:1.3em;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Check-boxes */
span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: -3px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}

/* #wizard{
    margin-bottom: 5em;
} */

.wizard > .steps > ul > li {
    width:33.333%;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0em 0em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wizard > .steps {
    font-size:14px;
}

.step-number{
    font-weight:600;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: white;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #24292e;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: #fafbfc;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: rgb(198,203,209);
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: white;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #24292e;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #fafbfc;
    cursor: default;
    border: solid 1px rgb(223,226,229);
   color: #586069;
}

.step-icon {
    margin-right:5px;
}

.wizard > .steps .current a .step-icon, .wizard > .steps .current a .step-icon:hover, .wizard > .steps .current a .step-icon:active {
    color:#007bff;
}

.wizard > .steps .done a .step-icon, .wizard > .steps .done a .step-icon:hover, .wizard > .steps .done a .step-icon:active {
    color:green;
}


.wizard > .actions {
    position: fixed;
    display: block;
    text-align: center;
    bottom:0px;
    left:0px;
    /* width: 89%; */
    z-index:1075;
    background-color: #fafbfc;
    border-top: solid 1px rgb(223,226,229);
    padding: 10px 0px;
    width: 100vw;
    /* margin-left:-70px; */
    margin-left: calc(-50vw + 50%); 
    /* border: 2px solid green; */
}

.actions a[href="#previous"] {
    display:none;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    border-color: #007bff;
    color: white;
    background-color:#007bff;
    /* padding:0.35em 70px;; */
    min-width:30vw;
    text-align: center;

}

.multi-wrapper .item:hover {
    text-decoration: none;
}

.multi-wrapper .non-selected-wrapper, .multi-wrapper .selected-wrapper {
    /* height:80vw; */
    height:400px;
    /* height:auto; */
}

.multi-wrapper{
    border: solid 1px rgb(223,226,229);
}

.search-input {
    border:none !important;
    border-bottom: 1px solid  rgb(223,226,229) !important;
}

input[type="text"], input[type="email"] {
  background: transparent;
  border: solid 1px rgb(223,226,229) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

span.checkbox::before {
    border:1px solid #007bff;
}

span.checkbox:hover::before {
    border:2px solid #007bff;
}

.wizard > .actions > ul > li {
    margin:0;
}

.results img {
    overflow: hidden;
    height:150px;
    /* max-width:300px; */
    /* margin:0 auto; */
    padding: 20px 80px;
    border: 1px solid #007bff;
    border-radius: 10px;
    cursor:pointer;
}

.results img.gray{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 1px solid #ccc;
}

/* @media screen and (min-width:780px){
    .results{
        padding-left:200px;
    }

} */

/* #map {
    position:absolute !important;
} */

.wizard > .content {
    /* overflow-y: auto; */
    background-color:white;
    margin:0;
    margin-bottom:5em;
    min-height:none !important;
}

.new-stylish-checkbox {
    display:none;
}

.new-stylish-checkbox input[type="checkbox"] {
    opacity: 0;
}

.new-stylish-checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.new-stylish-checkbox label::before,
.new-stylish-checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.new-stylish-checkbox label::before{
    height: 16px;
    width: 16px;
    
    border: 1px solid;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.new-stylish-checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.new-stylish-checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.new-stylish-checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.new-stylish-checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.app {
    padding-top:1em;
    background:white;
    border: solid 1px rgb(223,226,229)
}

.logo img{
    width:50px;
    padding-bottom:10px;
}

.built-by{
    position:absolute;
    top: 50%;
    right:0%;
}
.built-by span{
    float:right;
    font-size:12px;
    color:#586069;
    font-weight:300;
}

.top-row{
    position:relative;
}

.what-is span{
    float:left;
    font-size:12px;
}

.what-is{
    position:absolute;
    top: 50%;
    left:0%;
}

.logo {
    margin: 0 auto;
    float: inherit;
}

.link, .link:hover{
    text-decoration:none;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color:#F17105;
    padding-bottom:0.1rem;
    cursor:pointer;
  }

  .what-is-alert .swal2-content {
    text-align:left;
  }

.success-screen {
    min-height: 35em;
}
.success-screen.hidden{
    display:none;
}

.success-screen img {
    margin:0 auto;
    height:15em;
    padding-top:3em;
    padding-bottom:1em;
}

.full-height{
    height:100%;
}

a:hover, a:focus, a:active {
    text-decoration:none;
}

.sub-lead {
    font-size:14px;
    font-weight:300;
}

.unit-selector {
    border: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background:white !important;
    padding:0 !important;
    border-bottom-style: dotted !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #919192 !important;
    color:#919192 !important;
    padding-bottom:0.1rem;
    cursor:pointer;
    
}

.unit-selector.active, .unit-selector.focus {
    border-bottom-color: #007bff !important;
    color:#007bff !important;
}